@charset "UTF-8";


.title,
body {
	font-family: open-sans, sans-serif;
}

.Footer {
	color: #ccc;
	background-color: #242424;
}
.
.Footer a {
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

.Footer a:hover {
	text-decoration: underline;
}

.Footer-firstRow {
	width: 100%;
	margin-left: 23%;
}

.Footer-firstRow h3 {
	margin: 0 0 .75rem;
	color: #666;
	font-size: 11px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.Footer-address,
.Footer-contact,
.Footer-social {
	padding: 1.75rem .83333% 1.25rem;
	font-size: 13px;
	font-weight: 100;
	line-height: 21px;
	letter-spacing: 1px;
	width: 23%;
	display: block;
	float: left;
}

.Footer-lastRow {
	width: 100%;
	text-align: center;
}

.Footer-menu .Menu {
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.Footer-menu .Menu .Menu-item {
	margin: 0px 0px 0px 0.125rem;
	font-size: 0.75rem;
	display: inline-block;
}

.Footer-menu .Menu .Menu-item a {
	display: inline-block;
	padding: .375rem 0;
	color: #ffc91f!important;
	font-weight: 300!important;
}

.Footer-menu .Menu .Menu-item~.Menu-item::before {
	display: inline-block;
	content: "|";
	color: rgb(153, 153, 153);
	margin: 0px 0.4375rem 0px 0px;
}

.Footer-copyright {
	font-size: 0.75rem;
	line-height: 1.5;
}


/* -------------- contact us page -------------- */

.Content-title {
	background: url(../images/contact-us.jpg) no-repeat center center; 
	height: 30.125rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top:10%;
}

.Content-title h1 {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
	padding-bottom: 12px;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	text-size-adjust: 100%;
	color: rgb(255, 255, 255);
}

.Content-title p {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
	margin-bottom: 18px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
	text-size-adjust: 100%;
}

.Content-header {
	text-align:center;
}

.Content-header h2 {
	text-align: center;
	position: relative;
	font-size: 1.875rem;
	font-weight: 100;
	line-height: 2.25rem;
	color: #303030;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.Content-header p {
	text-align: center;
	position: relative;
	color: #666;
	font-size: .9375rem;
	line-height: 1.5rem;
	display: block;
	text-align: center;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0;
}

.Content-panel {
	background-clip: border-box;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	float: left;
	height: auto;
	line-height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 6px;
	padding-left: 48px;
	padding-right: 48px;
	position: relative;
	width: 33%;
	min-width: 300px!important;
}

.Conent-panel:hover {
	background-color: transparent;
	cursor: text;
}

.Content-panel-image {
	display: block;
	max-width: 100%;
	text-align: center;
	width: 100%;
	float: left;
	padding-left: .83333%;
	padding-right: .83333%;
}

.Content-panel-image img {
	display: block;
	float: none;
	max-width: 100%;
	max-height: 120px;
	margin: 0 auto 26px;
	box-sizing: border-box;
	border: 0;
}

.Content-panel-content {
	cursor: text;
	display: block;
	float: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

.Content-panel-content h3 {
	color: rgb(64, 64, 64);
	font-size: 21px;
	height: 30px;
	line-height: 30.009px;
	margin-bottom: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;
	padding-bottom: 0px;
	padding-left: 2.28125px;
	padding-right: 2.28125px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	width: 100%;
}

.Content-panel-content p {
	box-sizing: border-box;
	color: rgb(125, 125, 125);
	cursor: text;
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	height: auto;
	min-height: 100px;
	line-height: 24px;
	position: relative;
	width: 90%;
	margin: auto;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

#BusinessInfo{
	width:100%;
}

#ContentBody{
	width: 100%;
	height: 540px;
	background-color: white;
	padding-top:80px;
}


.PanelButton {
	backface-visibility: hidden;
	border-color: rgb(218, 77, 60);
	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	color: rgb(218, 77, 60);
	cursor: pointer;
	display: block;
	float: none;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 48px;
	line-height: 46px;
	margin: auto;
	outline-color: rgb(255, 255, 255);
	outline-style: none;
	outline-width: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	transition: all 0.35s ease;
	width: 144.094px;
	text-decoration: none;
}

.PanelButton:hover {
	background-color: rgb(218, 77, 60);
	color: rgb(255, 255, 255);
}

.InputForm {
	width: 100%;
	height: auto;
}
.ContactUsForm{
	width: 800px;
	height: 100px;
	
}
.ContactFooter{
	padding:0px;
	margin:0px;
	float:left;
	padding-top:30px;
	height:440px;
	width:100%;
	background-color:#3F3F3F;  /*#E2E2E2;#3F3F3F;*/
	overflow:hidden;
	
}
.ContactFooterLeft{ 
	padding:10px;
    width:18%;
    float:left; 
}
.ContactFooterPanel{
	min-width:200px;
	width:100%;
	height:auto;
	float:left;
}
.ContactFooterPanel h3{
	color:#666;
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
}
.ContactFooterPanel p{
	color:#ccc!important;
	font-size:16px;
	font-weight:200;
	line-height:20px;
	letter-spacing:1px;
}
.ContactFooterPanel a{
	decorate:none;
}

.ContactFooterPanel a {
	text-decoration: none;
	color:#8ab4f8;
}


.ContactFooterRight{
	width:78%;
    float:right; 
    padding:10px;
}
#GoogleMap{
	overflow:hidden;
	frameborder="1";
}

.spanRight{
	margin:0;
	text-align:right;
	float:right;
}



.notificaiton h3{
	color:yellow;
}
.error h3{
	color:red;
}
.success h3{
    color:#8ab4f8;
}
/* header styling starts here */

.Header{
	width:100%;
	height:80px;/**/
	background-color:rgb(33,33,36);/*gray;*/
	margin:0px;
	padding:0px;
	z-index:1000;	
}
.Menu{
	list-style:none;
	height:100%;
	width:100%;
	
}
.HeaderMenu{
	cursor:pointer;
	height:100%;
	width:auto;
	text-align:center;
	margin-left:10px;
	padding:0px;
	vertical-align:middle;
}


.HeaderMenu a{
	display:block;
	text-decoration:none;
	color:#8ab4f8;
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
	cursor:pointer;
}



/* Use cross button*/

/* Use hover background*/


.MenuSelected{
	background-color:rgb(43,53,76)!important;
}

/*------------------------ ABOUT US PAGE ------------------------*/

body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*section{
	position: relative;
	height: 100vh;
}*/
.parallex{
	  text-align:center;
	  margin:0;
	  padding:0;
	  vertical-align:center;
}
.parallex::after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
}

#about::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}

/*#quoteHeader::after{
	background-image: url(../images/Incheon.jpg);
}*/

.aboutHeader{
	box-sizing: border-box;
	height: 100vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
  	color: black;
  	font: 400 30px BrownStd-Regular, Helvetica, Arial, sans-serif;
}

.aboutHeader h1{
	margin-top: -280px;
	letter-spacing: 2.5px;
}

.aboutHeader p{
	margin-top: -70px;
	letter-spacing: 0.5px;
}

.aboutHeader * {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

/*------------ Mission Statement / Media Container ------------*/

.row {
  display: block;
  position: relative;
  background: rgb(247, 247, 247);
  z-index: 1;
  margin: 0 auto 0; 
  text-align: center;
  width: 100%;
  float: left;
}

#mission, #products{
	background: white;
}


#media1{margin: 0 auto 1px;}

#media2{margin: 0 auto 1px;}

#media3{margin: 0 auto 1px;}

.column{
	color: rgb(54, 54, 54) ;
	display: block;
	font: 400 30px Helvetica, Arial, sans-serif;
	height: 400px ;
	max-width: 30%;
	padding: 30px;
	letter-spacing: normal ;
	line-height: 24px ;
	margin: 20px auto 20px 130px;
	text-size-adjust: 100%;
	position: relative;
	float: left;
	text-align: center;
}

.column h1{
	color: rgb(0, 0, 0) ;
	display: block ;
	font: 700 28px Helvetica, Arial, sans-serif;
	height: 10px ;
	width: 400px ;
	letter-spacing: normal ;
	line-height: 80px ;
	/*margin-block-end:0px;
	margin-block-start:0px;
	margin-bottom:0px;
	margin-inline-end:0px;
	margin-inline-start:0px;
	margin-left:0px;
	margin-right:0px;
	max-width: 1000px ;*/
	margin-top:90px;
	text-align: left ;
	text-decoration: rgb(0, 0, 0) solid;
	text-size-adjust: 100% ;
	text-transform: none ;
	width: 540px;
}

.column p{
	color: rgb(54, 54, 54) ;
	display: block ;
	font: 400 16px Helvetica, Arial, sans-serif;
	height: 120px ;
	width: 420px ;
	letter-spacing: 0.32px ;
	line-height: 30px ;
	/*margin-block-end: 16px ;
	margin-block-start: 16px ;
	margin-inline-end: 0px ;
	margin-inline-start: 0px ;*/
	overflow-wrap: break-word ;
	text-align: left ;
	vertical-align: baseline;
	text-size-adjust: 100% ;
	width: 500px;
	margin-top: 70px;
}


/*------------ Best Products ------------*/

#bestRow{
	background: white;
	height: 500px;
}

#best{
	text-align: center;
	margin: 75px auto 0;
}

#prodGrid {
	grid-column-gap: 20px;
	margin: 40px auto 0;
	display: grid;
	height: 100px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px;
	column-gap: 20px;
}

/*----------------------------------------------*/

/*-------------- Below Here Are Final Merged Items ---------------------*/
/* header */

/* end of header */

/* footer */
/* end of footer */

/* pop up box */


/* end of pop up box*/

/* Pop up form input */

.InputFormLineGroup .hoverTransparentBg{
	float:right;
	margin-left:10px;
	display:block;
}
.revealWhenChecked{
	transition: height 0.3s ease;
}

/*--------------------------------------- Overlay -------------------------------------- */
.overlayBox {
    position: fixed;
    display: block; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    vertical-align: middle;
    z-index: 2;
   
}
/*End of Overlay*/
/*------------------------------------- Pop Up Box Template ------------------------------------- */
.popUpBox{
	margin:15% auto;
	padding:5px;
	background:rgba(0,0,0,0.6);
	text-align:center;	
	position:absoute;
    display:block;
    background-color:rgb(33,33,36);
	border-radius: 5px;
}

.popUpBox h3, .CartHeader h3{
	margin:0px;
	padding:0px;
	width:87%;
	font-size: 24px;
	font-weight:300;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;
	display: inline-block;
	font-variant: small-caps;
	border-bottom: 1px solid #8ab4f8;
	text-align:left;
	float:left;
}
.popUpBox p{
	font-size:16px;
	font-weight:400;
    margin:auto;
    padding-left:5px;
    margin-right:15px;
    margin-top:15px;
    color:#fff;
    float:left;
}

.popUpCloseButton{	
	min-width:50px;
	min-height:50px;
	margin:-8px;
	padding:-8px;
	float:right;
}
.crossButton {
    z-index: 0;
    cursor: pointer;
    height: 45px;
    width:45px;
    position: relative;
    background-size: 20px;
    background-position: center;
    background-image: url(../images/icons/CloseWhite.png);
    background-repeat: no-repeat;
}

.crossButton::before {
    content: '';
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 1px;
    border-radius: 50%;
    transform: scale(0);
    transition-property: transform,opacity;
}

.crossButton:hover::before {
    background-color: rgba(255,255,255,0.2);
    border: none;
    opacity: .8;
    transform: scale(.95);
}
/* end of pop up box template*/
/*------------------------------ PopUP box for messages -------------------------------- */
.popUpMessages{
	width:350px;
	height:100px;
}
/* end of pop up box for messages*/

/*------------------------------ PopUP box for quickQuestion -------------------------------- */
.popUpQuickQuestion{
	width:350px;
	height:180px;
}

/* end of pop up box for messages*/

/*------------------------------ Upser specefic pop up box ----------------------------- */
.popUpContactUsForm{
	width:350px;
	height:400px;
}
.popUpForm{
	margin:auto;
	text-align:center;
	width:auto;
	height:auto;
}
.popUpForm select{
	padding:0px;
		
	margin:50px auto 10px auto;
	font-size:16px;
	font-weight:400;
    width: 315px;
    height: 35px;
    display:block;
    position:relative;
}
.popUpForm textArea{
	margin:auto;
	padding:5px;
	font-size:16px;
	font-weight:400;
	display:block;
    width:304px;
    min-height:100px;
    position:relative;
    overflow-y:scroll;
    resize:none;
}
.popUpForm input[type="checkbox"] {
    font-size:16px;
	font-weight:400;
	margin-left:16px;
	margin-top:15px;
	float:left;
}
.popUpForm label {
    font-size:16px;
	font-weight:400;
    margin:auto;
    padding-left:5px;
    margin-right:15px;
    margin-top:15px;
    color:#fff;
    float:left;
}
.InputFormLineGroup{
	width:100%;
	margin:auto;
	display:block;
	height:40px;
	float:left;
}
.popUpForm input[type="text"] {
	font-size:16px;
	font-weight:400;
    height: 30px;
    margin:5px auto 0px auto;
	width:315px;
	display:inline-block;
}
.InputFormLineGroup input[type="text"] {
	width:153px;
	display:inline-block;
}
.popUpButtons{
	display:inline-block;
}

/*------------------------------------ Hover Effect ------------------------------------ */
.hoverTransparentBg{
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
    outline: none;
    color: #8ab4f8;
    margin-left: 8px;
    min-width: auto;
    padding: 0 8px;
    text-decoration: none;
}
.hoverTransparentBg::Before{
	content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #4285f4;
    border-radius: 4px;
    transform: scale(0);
    transition-property: transform,opacity;
}
.hoverTransparentBg:hover::Before{
	transform: scale(1);
    opacity: .2;
}
/*--------------------------------------- wrapper -------------------------------------- */
.wrapper{
	  perspective: 1px;
	  transform-style: preserve-3d;
	  height: 100vh;
	  overflow-x: hidden;
	  overflow-y: scroll;
}
/*--------------------------------------- parallex -------------------------------------- */
.parallex::after{
	  content: " ";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  transform: translateZ(-1px) scale(2);
	  background-size: 100%;
	  z-index: -1;
	  height:auto;
}
/*----------------------------------- parallexImages ----------------------------------- */
#about::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}
#contactUs::after{
	background-image: url(../images/contact-us.jpg);
	background-repeat: no-repeat;
}

#workshop::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}
#home::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}
/*----------------------------------- parallexContent --------------------------------- */
.parallexContaint{
	box-sizing: border-box;
	height: 40vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
  	color: black;
  	font: 400 30px BrownStd-Regular, Helvetica, Arial, sans-serif;
  	text-align:center;
  	background-color: rgb(0,0,0,0.5) /*rgb(138,180,248,0.8); /*rgba(34, 139, 34,0.5);/* */;
}
.parallexContaint * {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

.parallexContaint h1{
	margin-top: -280px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
}

.parallexContaint p{
	margin:auto;
	margin-top: -70px;
	letter-spacing: 0.5px;
	width:50%;
	min-width:300px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
}
/*------------------ down and up arrow ----------------*/
.DownArrow {
  display: inline-block;
  padding:0px;
  width: 54px;
  height: 54px;
  border: 1.5px solid #fff;
  border-radius: 50%;
 transition: all 0.3s ease;
  margin:0px auto;
}
.DownArrow:after {
  content: '';
  display: inline-block;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.DownArrow:hover {
	margin-top:15px;
}
/*end of parallelx*/

/*--------------------------------------- old reference -------------------------------------- */


.Content-title h1 {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
	padding-bottom: 12px;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	text-size-adjust: 100%;
	color: rgb(255, 255, 255);
}

.Content-title p {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
	margin-bottom: 18px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
	text-size-adjust: 100%;
}

/*-----------------------FAQ-------------------------- */

#FAQ{
	background: url(../images/faq.jpg) no-repeat center center;
	height:670px;
}

#FAQContent{
	height:100%;
	width:80%;
	margin:0px auto 10px auto;
	padding:0px;
	background-color: rgb(255,255,255,0.4);
}
#FAQContent h2{
	margin:30px auto 10px auto;
	font-weight: 400;
}
#FAQContent p{
	margin:0px auto 30px auto;
	color:black;
}
.faqArea{
	width:90%;
	padding:5px;
	margin:0px auto 10px auto;
	max-height:500px;
	overflow-x: hidden;
  	overflow-y: scroll;	
}
.faqArea ol{
	margin:auto;
}
.faqArea li{
	margin:0px;
	margin-bottom:10px;
	padding:10px;
	height:auto;
	vertical-align:middle;
	text-align:center;
	border-radius: 5px;
	width:98%;
}
.faqArea li { background-color: rgb(255,255,255,0.5);}
.faqArea li:nth-child(odd) {background-color: rgb(255,255,255,0.6);}

.faqRow{
	width:100%;
	display:block;
}

.qaGroup{
	width:80%;
}

.qaGroup .question{
	width:100%;
	text-align:left;
	line-height:20px;
}
.qaGroup .answer{
	padding-top:5px;
	padding-left:20px;
	width:100%;
	text-align:left;
}

.voteGroup{
	margin:0px;
	padding:0px;
	margin-top:-45px;
	float:right;
	padding-right:20px;
}

.vote{
	margin:0px;
	padding:0px;
	padding-top:12px;
	font-size:16px;
	float:right;
	width:auto;
}

.upVote{
	margin:0px;
	margin-right:-4px;
	padding:0px;
	float:right;
	min-width:30px;
	min-height:30px;
	background-image: url(../images/icons/upVote.png);
	background-repeat: no-repeat;
	background-size: 30px;
	cursor:pointer;
}
.upVote:hover{
	background-image: url(../images/icons/upvoteHover.png);
}

/*scrollbar*/
.invisibleScrollBg::-webkit-scrollbar {
      width:10px; 
    }
  .invisibleScrollBg::-webkit-scrollbar * {
    background:transparent; 
  }
  .invisibleScrollBg::-webkit-scrollbar-thumb {
    background:rgb(173,173,173) !important;
    border-radius: 5px !important;
  }
  .invisibleScrollBg::-webkit-scrollbar-thumb:hover {
    background:rgb(84,86,90) !important;
  }
 
  /*sales item all*/ 
 /* sales item link*/
 .salesItemLink{
 	text-decoration:none;
 	cursor:pointer;
 	color:blue;
 	display:inline;
 	background:transparent;
 }
 .salesItemLink:hover{
 	text-decoration:underline;
 }

 .popUpSalesItem{
 	width:400px;
 	min-height:300px;
 }
 .popSalesItemContainer{
 	margin:0px;
 	padding:10px;
 }
 .sicCol1{
 	margin:0px;
 	padding:0px;
 	float:left;
 	width:200px;
 }
 .sicCol1 img{
 	max-height:250px;
 }
 .sicPrice{
 	margin-top:10px;
 	color:white;
 	font-size:24px;
 	font-weight:400;
 }
 .sicItemDescription{
 	width:100px;
 	padding:10px;
 	margin:auto;
 	font-size:12px;
 	font-weight:100;
 	text-align:left;
 }
 .sicLabel{
 	float:left;
 	color:white;
 	display:inline;
 	margin:0px;
 	padding:0px;
 	width:auto;
 }
 .sicQuantity{
 	display:inline;
 	float:right;
 	max-width:40px!important;
 }
 .sicAddToCart{
 	margin-top:100px!important;
 }
 
 /* end sales item */
 
/* ************ Workshop page *************** */

.Groundhogs{
	margin: 30px;
    border: 1px solid #ccc;
    max-width:100%;
    display: block;
    margin:10px;
    
}

.Groundhogs img{
	width: 50%;
    height: 50%;
}



.LongPanelButton:hover {
	background-color: rgb(218, 77, 60);
	color: rgb(255, 255, 255);
}

.LongContent-panel {
	background-clip: border-box;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing: border-box;
	display: block;
	float: left;
	height: auto;
	line-height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 6px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 6px;
	position: relative;
	width: 90%;
	min-width: 100px!important;
}

.LongPanelButton {
	backface-visibility: hidden;
	border-color: rgb(218, 77, 60);
	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	color: rgb(218, 77, 60);
	cursor: pointer;
	display: block;
	float: none;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 48px;
	line-height: 46px;
	margin: auto;
	outline-color: rgb(255, 255, 255);
	outline-style: none;
	outline-width: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	transition: all 0.35s ease;
	width: 500px;
	text-decoration: none;
}


.AboutWorkshops{
	padding: 10px;
	text-indent: 10px;
    text-align: justify;
    letter-spacing: 3px;
    max-width:90%;
    margin: auto;
}

.Event{
	height: 200px;
	border: 2px solid #ccc;
	background-color: azure;
}

 
/*Cart area */
.CartWrapper{
	margin:0px 0px 0px auto;
	padding:5px;
	position:fixed;
    display:block;
    background-color:rgba(0,0,0,0.8);
	min-width:400px;
	max-width:400px;
	min-height:100%;
	max-height:100%;
	z-index:1000;
	right:0;
	transition: all 0.35s ease;
	display:none;
}
#cartMenu{
	z-index: 5;
	margin-right:60px!important;
	float:right!important;
    cursor: pointer;
    position: relative;
    height:100%;
    width:60px;
    background-size: 35px;
    background-position: center;
    background-image: url(../images/icons/cart.png);
    background-repeat: no-repeat;	
}
#cartMenu:hover{
	background-image: url(../images/icons/cartHover.png);
}

#ItemCount{
	font-size: 20px;
	font-weight:300;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;	
	display:block;
	cursor:pointer;
	margin-top:-20px;
}
 
 
 /* Check out area*/
 .popUpCheckout{
 	min-width:600px;
 	max-width:600px;
 	min-height:400px;
 }
 
 
 
 /* styling for workshop form */
 .popUpWorkshopForm{
 	min-width:400px!important;
 	min-height:400px!important;
 }
 
 .error{
 	color:red!important;
 }