@charset "UTF-8";

*{ /* user can not select anything*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}
.title,
	font-family: open-sans, sans-serif;
	background-color:rgb(247,247,247)!important;
}
body{
	background-color:rgb(247,247,247)!important;
}
.Footer {
	color: #ccc;
	height:80px!important;
}
.Footer-lastRow{
	
}
.Footer a {
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

.Footer a:hover {
	text-decoration: underline;
}

.Footer-firstRow {
	width: 100%;
	margin-left: 23%;
}

.Footer-firstRow h3 {
	margin: 0 0 .75rem;
	color: #666;
	font-size: 11px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.Footer-address,
.Footer-contact,
.Footer-social {
	padding: 1.75rem .83333% 1.25rem;
	font-size: 13px;
	font-weight: 100;
	line-height: 21px;
	letter-spacing: 1px;
	width: 23%;
	display: block;
	float: left;
}

.Footer-lastRow {
	width: 100%;
	text-align: center;
}

.Footer-menu .Menu {
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color:rgb(33,33,36);/*gray;*/
	max-height:80px!important;
}

.Footer-menu .Menu .Menu-item {
	margin: 0px 0px 0px 0.125rem;
	font-size: 0.75rem;
	display: inline-block;
}

.Footer-menu .Menu .Menu-item a {
	display: inline-block;
	padding: .375rem 0;
	color: #ffc91f!important;
	font-weight: 300!important;
}

.Footer-menu .Menu .Menu-item~.Menu-item::before {
	display: inline-block;
	content: "|";
	color: rgb(153, 153, 153);
	margin: 0px 0.4375rem 0px 0px;
}

.Footer-copyright {
	font-size: 0.75rem;
	line-height: 1.5;
	color:black!important;
}


/* -------------- contact us page -------------- */

.Content-title {
	background: url(../images/contact-us.jpg) no-repeat center center; 
	height: 30.125rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top:10%;
}

.Content-title h1 {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
	padding-bottom: 12px;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	text-size-adjust: 100%;
	color: rgb(255, 255, 255);
}

.Content-title p {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
	margin-bottom: 18px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
	text-size-adjust: 100%;
}

.Content-header {
	text-align:center;
}

.Content-header h2 {
	text-align: center;
	position: relative;
	font-size: 1.875rem;
	font-weight: 100;
	line-height: 2.25rem;
	color: #303030;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.Content-header p {
	text-align: center;
	position: relative;
	color: #666;
	font-size: .9375rem;
	line-height: 1.5rem;
	display: block;
	text-align: center;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0;
}

.Content-panel {
	background-clip: border-box;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	float: left;
	height: auto;
	line-height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 6px;
	padding-left: 48px;
	padding-right: 48px;
	position: relative;
	width: 33%;
	min-width: 300px!important;
}

.Conent-panel:hover {
	background-color: transparent;
	cursor: text;
}

.Content-panel-image {
	display: block;
	max-width: 100%;
	text-align: center;
	width: 100%;
	float: left;
	padding-left: .83333%;
	padding-right: .83333%;
}

.Content-panel-image img {
	display: block;
	float: none;
	max-width: 100%;
	max-height: 120px;
	margin: 0 auto 26px;
	box-sizing: border-box;
	border: 0;
}

.Content-panel-content {
	cursor: text;
	display: block;
	float: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

.Content-panel-content h3 {
	color: rgb(64, 64, 64);
	font-size: 21px;
	height: 30px;
	line-height: 30.009px;
	margin-bottom: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;
	padding-bottom: 0px;
	padding-left: 2.28125px;
	padding-right: 2.28125px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	width: 100%;
}

.Content-panel-content p {
	box-sizing: border-box;
	color: rgb(125, 125, 125);
	cursor: text;
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	height: auto;
	min-height: 100px;
	line-height: 24px;
	position: relative;
	width: 90%;
	margin: auto;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

#BusinessInfo{
	width:100%;
}

#ContentBody{
	width: 100%;
	height: 540px;
	background-color: white;
	padding-top:80px;
}

.InputForm {
	width: 100%;
	height: auto;
}
.ContactUsForm{
	width: 800px;
	height: 100px;
	
}
.ContactFooter{
	padding:0px;
	margin:0px;
	float:left;
	padding-top:30px;
	height:440px;
	width:100%;
	overflow:hidden;
	
}
.ContactFooterLeft{ 
	padding:10px;
    width:18%;
    float:left; 
}
.ContactFooterPanel{
	min-width:200px;
	width:100%;
	height:auto;
	float:left;
}
.ContactFooterPanel h3{
	color: black;/*#666;*/
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
}
.ContactFooterPanel p{
	color: black!important;/*#ccc!important;*/
	font-size:16px;
	font-weight:200;
	line-height:20px;
	letter-spacing:1px;
}
.ContactFooterPanel a{
	decorate:none;
}

.ContactFooterPanel a {
	text-decoration: none;
	color:#8ab4f8;
}


.ContactFooterRight{
	width:78%;
    float:right; 
    padding:10px;
}

.spanRight{
	margin:0;
	text-align:right;
	float:right;
}



.notificaiton h3{
	color:yellow;
}
.error h3{
	color:red;
}

.success h3{
    color:#8ab4f8;
}
/* header styling starts here */

.Header{
	width:100%;
	height:200px;/**/
	background-color:rgb(33,33,36);/*gray;*/
	margin:0px;
	padding:0px;
	z-index:1;	
	/*position: fixed; /* Make it stick/fixed */
    top: 0; 
}
.Menu{
	list-style:none;
	height:100%;
	width:100%;
	
}
.HeaderMenu{
	cursor:pointer;
	height:100%;
	width:auto;
	text-align:center;
	margin-left:10px;
	padding:0px;
	vertical-align:middle;
}


.HeaderMenu a{
	display:block;
	text-decoration:none;
	color:#8ab4f8;
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
	cursor:pointer;
}





.MenuSelected{
	background-color:rgb(43,53,76)!important;
}

/*-------------------------- ABOUT US PAGE --------------------------*/

body, html{
	margin: 0;
	padding: 0;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.section{
	position: relative;
	height: 100vh;
}

.Media-Container{
	position: relative;
}

.parallax::after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-repeat: no-repeat; 
}

.about::after{
	background-image: url(../images/aboutUs-2.jpg); 
}

.quoteHeader::after {
	background-image: url(../images/Incheon.jpg);
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
}

.aboutHeader{
	box-sizing: border-box;
	height: 100vh;
	padding: 30vw 0 5vw;
	position: absolute;
	transform-style: inherit;
	width: 100vw;
  	color: black;
  	font: 400 30px Helvetica, Arial, sans-serif;
}

.aboutHeader h1{
	margin-top: -280px;
	letter-spacing: 1.5px;
}

.aboutHeader p{
	margin-top: -70px;
	letter-spacing: 0.5px;
}

.aboutHeader * {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

.aboutMiddle{
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

/*---------------- Mission Statement / Media Container ----------------*/

.row {
  display: block;
  position: relative;
  background: rgb(247, 247, 247);
  z-index: 1;
  margin: 0 auto 0; 
  text-align: center;
  width: 100%;
  float: left;
}

#mission, #media2, #media4{
	background: white;
}

#media1 img{
	width: 510px;
	height: 350px;
	margin-top: 20px;
}

#media2 img{
	width: 500x;
	height: 400px;
}

#media3 img{
	width: 580px;
	height: 290px;
	margin-top: 60px;
}

.row #media3{
	overflow: hidden;
}

#media4 img{
	width: 460px;
	height: 360px;
	margin-top:20px;
}

.column{
	color: rgb(54, 54, 54) ;
	display: block;
	font: 400 30px Helvetica, Arial, sans-serif;
	height: 400px ;
	max-width: 30%;
	padding: 30px;
	letter-spacing: normal ;
	line-height: 24px ;
	text-size-adjust: 100%;
	position: relative;
	float: left;
	margin: 20px 60px 20px 100px;
	
	text-align: center;
}

.column h1, .column h5{
	color: rgb(0, 0, 0) ;
	display: block ;
	font: 700 28px Helvetica, Arial, sans-serif;
	width: 400px ;
	letter-spacing: normal;
	margin-top:90px;
	text-align: left ;
	text-decoration: rgb(0, 0, 0) solid;
	text-size-adjust: 100% ;
	text-transform: none ;
  	padding-bottom: 10px;
  	position: relative;
}
.column h5{
		margin-top:10px!important;
	
}

.column p{
	color: rgb(54, 54, 54) ;
	display: block ;
	font: 400 16px Helvetica, Arial, sans-serif;
	height: 120px ;
	width: 420px ;
	letter-spacing: 0.32px ;
	line-height: 30px ;
	overflow-wrap: break-word ;
	text-align: left ;
	vertical-align: baseline;
	text-size-adjust: 100% ;
	width: 500px;
	margin-top: 30px;
}


#mission h1:before,#media1 h1:before,#media2 h1:before,#media3 h1:before,#media4 h1:before {
	content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0;
}

#mission h1:before{
	border-bottom: 2px solid red;
}
.column h5:before{
	content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0;
	border-bottom: 2px solid red;
}
.secondGreen h5:before{
	content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0;
		border-color: rgb(45, 134, 89);
}

#media1 h1:before, #media3 h1:before{
	border-bottom: 2px solid rgb(45, 134, 89);
}

#media2 h1:before, #media4 h1:before{
	border-bottom: 2px solid rgb(255, 153, 153);
}

#media1 .column a img{
    padding: none;
    box-shadow: -20px -20px 10px grey;
}

#media2 .column a img{
    padding: none;
    box-shadow: 20px -20px 10px grey;
}

#media3 .column a img{
    padding: none;
    box-shadow: -20px 20px 30px grey;
}

#media4 .column a img{
    padding: none;
    box-shadow: 20px 20px 10px grey;
}

/*-------------------------- Best Products --------------------------*/

#bestRow{
	background: white;
	height: 500px;
}

#best{
	text-align: center;
	margin: 75px auto 0;
}

#prodGrid {
	grid-column-gap: 20px;
	margin: 40px auto 0;
	display: grid;
	height: 100px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px;
	column-gap: 20px;
}

#prodGrid img{
	width: 260px;
	height: 260px;
}

/*------------------------------ HOME PAGE ------------------------------*/

* {box-sizing: border-box}

.slideshow {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;	
}

.slide {
	display: none;
	position:relative;
	width:100%;
}
.slide img {
	vertical-align: middle; 
	width: 100%;
	margin-top: -50px;
}

/* Dot indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dotid{
    transform: translate(-50%,-5%);
    top: 98%;
	left: 50%;
	position: absolute;
	width: 100%;
	height: 650px;
	margin:0 auto;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#bannerText{
	position: absolute;
	width: 100%;
	height: 650px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0px auto;
	text-align: center;
	object-fit: contain;
}

#bannerText h1{
	margin: 0px auto;
    padding-top: 20px;
	padding-bottom: 20px;
}

#bannerText .button{
	background: #f1f1f1;
	width: 22%;
	margin:0 auto;
	padding: 8px 0px;
	border-radius: 10px;
	cursor: pointer;
}

#bannerText .button:hover{
	background-color: #3e8e41;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bannerText a, .prodType a, .middle a, #shopAll a{
	text-decoration: none;
}

#bannerBox{
	background: rgb(194, 214, 214, .80);
	width: 45%;
	height: 150px;
	margin: 0 auto;
	margin-top: 17%;
	border-radius: 15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* --------------------------- HOME: PRODUCT TYPES --------------------------- */

#catRow{
    display: grid;
  	grid-template-columns: 450px 450px 450px;
  	grid-gap: 20px;
  	margin: 40px;
  	justify-items: center;
}

.prodType{
    border-radius: 5px;
 	padding: 20px;
 	position: relative;
}

#type1{
	background: url(../images/home/food.png);
	background-size: cover;
	width: 460px;
	height: 460px;
}

#type2{
	background: url(../images/home/accessories.jpg);
	background-size: cover;
	width: 480px;
	height: 460px;
}

#type3{
	background: url(../images/home/care.jpg);
	background-size: cover;
	width: 460px;
	height: 460px;
}

.prodType .button {
	background: #f1f1f1;
	width: 33%;
	height: 50px;	
	padding: 15px 0px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	margin: 0px auto;
}

#butcent{
    top:90%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0 auto;
	width:100%;
	position:absolute; 
}

.prodType .button:hover{
	background-color: #3e8e41;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*------------------------ HOME: BEST PRODUCTS ------------------------*/

#bestRow{
	background: rgb(247, 247, 247);
	height: 500px;
}

#best{
	text-align: center;
	margin: 50px auto 0;
}

#prodGrid {
	grid-column-gap: 20px;
	margin: 40px auto 0;
	display: grid;
	height: 100px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px;
	column-gap: 20px;
}

#prodGrid img{
	width: 260px;
	height: 260px;
}

#shopAll{
	background: white;
}

#shopAll .button{
  display: inline-block;
  border-radius: 20px;
  background: grey;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
  width: 30%;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  
}

.bestGrid {
    position: relative;
    width: 50%;
}

.bestGrid img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bestGrid:hover img {
  opacity: 0.3;
}

.bestGrid:hover .middle {
  opacity: 1;
}

.middle .button{
	background: #f1f1f1;
	width: 22%;
	margin:0 auto;
	padding: 8px 0px;
	border-radius: 10px;
	cursor: pointer;
}

/* --------------------------- HOME: WORKSHOP SECTION --------------------------- */

.row{
	/*background: rgba(43,114,43,1.00);*/
	margin: 0px;
	width:100%;
	padding: 50px;
	float: left;
	height: 500px;
	overflow: none;

	display: block;
}

#workshop{
	background: white;
	height: 500px;
	object-fit: contain;
	float: left;
}


#col-1{
	width: 60%;
	background: url(../images/home/wkShop.jpg);
	background-size: cover;
	height: 400px;
	margin: none;
	padding: none;
	float: left;
	border: none;
}

#col-2{
	width:40%;
	margin-left: 60%;
	padding: 0px;
	margin: 0px;
	align-content: center;
	height: 400px;
	position: relative;
	float: left;
	
}

article{
	text-align: center;	
	padding: 70px 10px;
	margin: 0 auto;
	align-content: center;
}

article h2{
	padding-bottom: 20px;
}

article p{
	padding: 0px 30px 10px
}

#workshop .button{
  border-radius: 20px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}

#workshop .button a{
  text-decoration: none;
	padding: none;
	cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#workshop .button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

#workshop .button:hover a {
  padding-right: 20px;
}

#workshop .button:hover a:after {
  opacity: 1;
  right: 0;
}

/*----------------------------------------------------------------------*/

/*-------------- Below Here Are Final Merged Items ---------------------*/
/* header */

/* end of header */

/* footer */
/* end of footer */

/* pop up box */


/* end of pop up box*/

/* Pop up form input */



/*--------------------------------------- Overlay -------------------------------------- */
.overlayBox {
    position: fixed;
    display: block; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    vertical-align: middle;
    z-index: 2;
   
}
/*End of Overlay*/
/*------------------------------------- Pop Up Box Template ------------------------------------- */
.popUpBox{
	margin:15% auto;
	padding:5px;
	background:rgba(0,0,0,0.6);
	text-align:center;	
	position:absoute;
    display:block;
    background-color:rgb(33,33,36);
	border-radius: 5px;
}

.errorMessage{
	width:100%;
	height:auto;
	padding:5px;
	background:transparent;
	text-align:center;	
	position:absoute;
    display:block;
    overflow:show;
}
.errorMessage p{
	font-size:16px;
 	font-weight:400;
 	color:rgb(233,188,85)!important;/*#f90707!important;/*#ea6960!important;*/
 	text-align:center;
}

.popUpBox h3, .CartHeader h3{
	margin:0px;
	padding:0px;
	width:87%;
	font-size: 24px;
	font-weight:300;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;
	display: inline-block;
	font-variant: small-caps;
	border-bottom: 1px solid #8ab4f8;
	text-align:left;
	float:left;
}
.popUpBox p{
	font-size:16px;
	font-weight:400;
    margin:auto;
    padding-left:5px;
    margin-right:15px;
    margin-top:15px;
    color:#fff;
    float:left;
}

.popUpCloseButton{	
	min-width:50px;
	min-height:50px;
	margin:-8px;
	padding:-8px;
	float:right;
}
.crossButton {
    z-index: 0;
    cursor: pointer;
    height: 45px;
    width:45px;
    position: relative;
    background-size: 20px;
    background-position: center;
    background-image: url(../images/icons/CloseWhite.png);
    background-repeat: no-repeat;
}

.crossButton::before {
    content: '';
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 1px;
    border-radius: 50%;
    transform: scale(0);
    transition-property: transform,opacity;
}

.crossButton:hover::before {
    background-color: rgba(255,255,255,0.2);
    border: none;
    opacity: .8;
    transform: scale(.85);
}
/* end of pop up box template*/
/*------------------------------ PopUP box for messages -------------------------------- */
.popUpMessages{
	width:350px;
	height:100px;
}
.popUpMessages p{
	color: rgb(233,233,233);
	font: 400 16px Helvetica, Arial, sans-serif;
	height: 120px ;
	letter-spacing: 0.32px ;
	line-height: 20px ;
	overflow-wrap: break-word ;
	text-align: left ;
	vertical-align: baseline;
	text-size-adjust: 100% ;
}
/* end of pop up box for messages*/

/*------------------------------ PopUP box for quickQuestion -------------------------------- */
.popUpQuickQuestion{
	width:350px;
	height:180px;
}

/* end of pop up box for messages*/

/*------------------------------ User specefic pop up box ----------------------------- */
.popUpContactUsForm{
	width:380px;
	height:auto;
	padding:5px;
	transition: height 0.3s ease;
	
}
.popUpForm{
	margin:auto;
	text-align:center;
	width:auto;
	height:auto;
}
.popUpForm select{
	padding:0px;	
	margin:50px auto 10px auto;
	font-size:16px;
	font-weight:400;
    width: 90%;
    height: 35px;
    display:block;
    position:relative;
}

.whiteBg{
	background-color:white;
	width:90%;
	height:auto;
	margin:auto;
	padding:-2px;
	border:1px solid white;
}


.popUpTextArea{
	padding:8px;
	font-size:16px;
	font-weight:400;
    width: 95%;
    min-height:100px;
    overflow-y:scroll;
    background:transparent;
     border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    
}



.InputFormLineGroup{
	grid-column-gap: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 12px;
	width:90%;
	height:40px;
	margin:0px;
	margin-right:19px;
	margin-left:auto;
}
.popUpForm input[type="text"] {
	font-size:16px;
	font-weight:400;
    height: 30px;
    margin:0px;
    margin-top:5px;
	width:88%;
}
.InputFormLineGroup input[type="text"] {
	width:100%;
}

/*------------------------------------ Hover Effect ------------------------------------ */
.hoverTransparentBg{
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
    outline: none;
    color: #8ab4f8;
    margin-left: 8px;
    min-width: auto;
    padding: 0 8px;
    text-decoration: none;
}
.hoverTransparentBg::Before{
	content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #4285f4;
    border-radius: 4px;
    transform: scale(0);
    transition-property: transform,opacity;
}
.hoverTransparentBg:hover::Before{
	transform: scale(1);
    opacity: .2;
}
/*--------------------------------------- wrapper -------------------------------------- */
.wrapper{
	  perspective: 1px;
	  transform-style: preserve-3d;
	  height: 100vh;
	  overflow-x: hidden;
	  overflow-y: scroll;
}
/*--------------------------------------- parallex -------------------------------------- */
.parallex::after{
	  content: " ";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  transform: translateZ(-1px) scale(2);
	  background-size: 100%;
	  z-index: -1;
	  height:auto;
}
/*----------------------------------- parallexImages ----------------------------------- */
#about::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}
#contactUs::after{
	background-image: url(../images/home/banner2.jpg);
	background-repeat: no-repeat;
}

#workshopParallex::after{
	background-image: url(../images/fam3.jpg);
	background-repeat: no-repeat; 
}
#home::after{
	background-image: url(../images/aboutUs-2.jpg);
	background-repeat: no-repeat; 
}
/*----------------------------------- parallexContent --------------------------------- */
.parallexContaint{
	box-sizing: border-box;
	height: 40vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
  	color: black;
  	font: 400 30px BrownStd-Regular, Helvetica, Arial, sans-serif;
  	text-align:center;
  	background-color: rgb(0,0,0,0.5) /*rgb(138,180,248,0.8); /*rgba(34, 139, 34,0.5);/* */;
}
.parallexContaint * {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

.parallexContaint h1{
	margin-top: -280px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
}

.parallexContaint p{
	margin:auto;
	margin-top: -70px;
	letter-spacing: 0.5px;
	width:50%;
	min-width:300px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
}
/*------------------ down and up arrow ----------------*/
.DownArrow {
  display: inline-block;
  padding:0px;
  width: 54px;
  height: 54px;
  border: 1.5px solid #fff;
  border-radius: 50%;
 transition: all 0.3s ease;
  margin:0px auto;
}
.DownArrow:after {
  content: '';
  display: inline-block;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.DownArrow:hover {
	margin-top:15px;
}


#UpArrowContainer{
	position:fixed;
	z-index:1000;
	bottom:0;
	right:0;
	background:transparent!important;
	height:100px;
	width:100px;
	padding:10px;
	display:none;
}

.UpArrow {
  display: inline-block;
  padding:0px;
  width: 54px;
  height: 54px;
  border: 1.5px solid black;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor:pointer;
  z-index:1;
}
.UpArrow:after {
  content: '';
  display: inline-block;
  margin-top: 20px!important;
  margin-left:13px!important;
  width: 24px;
  height: 24px;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  overflow:hidden;
}
.UpArrow:hover {
	margin-top:-15px;
}

#UpArrow:hover{
	margin-top:-15px!important;
}

/*end of parallelx*/

/*--------------------------------------- old reference -------------------------------------- */


.Content-title h1 {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	height: 43px;
	line-height: 31.2px;
	padding-bottom: 12px;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	text-size-adjust: 100%;
	color: rgb(255, 255, 255);
}

.Content-title p {
	display: block;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 100;
	height: 48px;
	line-height: 24px;
	margin-bottom: 18px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
	text-size-adjust: 100%;
}

/*-----------------------FAQ-------------------------- */

#FAQ{
	height:690px;
	display:block;
	background:rgb(247,247,247)!important;
	margin-top:30px!important;
	margin-bottom:50px!important;
}

#FAQContent{
	height:90%;
	width:90%;
	margin:30px auto 10px auto;
	padding:0px;
	background-color: rgb(247,247,247)!important;
	
}
#FAQContent h2{
	margin:30px auto 10px 10px!important;
	font-weight: 400;
}
#FAQContent p{
	margin:0px auto 30px auto;
	color:black;
}
.faqArea{
	width:85%;
	padding:5px;
	margin:15px auto 80px auto;
	max-height:500px;
	overflow-x: hidden;
  	overflow-y: scroll;	
    border: 1px solid gray!important;/*#8ab4f8;*/
    padding:5px!important;
}
.faqArea ol{
	margin:auto;
}
.faqArea li{
	margin:0px;
	margin-bottom:10px;
	padding:10px;
	height:auto;
	vertical-align:middle;
	text-align:center;
	border-radius: 5px;
	width:98%;
}
.faqArea li { background-color: rgb(0,0,0,0.05);}
.faqArea li:nth-child(odd) {background-color: rgb(0,0,0,0.02);}

.faqRow{
	width:100%;
	display:block;
}

.qaGroup{
	width:80%;
}

.qaGroup .question{
	width:100%;
	text-align:left;
	line-height:20px;
}
.qaGroup .answer{
	padding-top:5px;
	padding-left:20px;
	width:100%;
	text-align:left;
}

.voteGroup{
	margin:0px;
	padding:0px;
	margin-top:-45px;
	float:right;
	padding-right:20px;
}

.vote{
	margin:0px;
	padding:0px;
	padding-top:12px;
	font-size:16px;
	float:right;
	width:auto;
}

.upVote{
	margin:0px;
	margin-right:-4px;
	padding:0px;
	float:right;
	min-width:30px;
	min-height:30px;
	background-image: url(../images/icons/upVote.png);
	background-repeat: no-repeat;
	background-size: 30px;
	cursor:pointer;
}
.upVote:hover{
	background-image: url(../images/icons/upvoteHover.png);
}

/*scrollbar*/
.invisibleScrollBg::-webkit-scrollbar {
      width:10px; 
       background:transparent!important; 
    }
  .invisibleScrollBg::-webkit-scrollbar * {
    background:transparent!important; 
  }
  .invisibleScrollBg::-webkit-scrollbar-thumb {
    background:rgb(84,86,90)!important;
    border-radius: 5px !important;
  }
  .invisibleScrollBg::-webkit-scrollbar-thumb:hover {
    background: rgb(173,173,173) !important;
  }
  
 .invisibleScrollBg::-webkit-scrollbar-track {
    background: transparent!important;
}
 
  /*sales item all*/ 
 /* sales item link*/
 .salesItemLink{
 	text-decoration:none;
 	cursor:pointer;
 	color:blue;
 	display:inline;
 	background:transparent;
 }
 .salesItemLink:hover{
 	text-decoration:underline;
 }

 .popUpSalesItem{
 	width:500px;
 	min-height:250px;
 	margin:10% auto!important;
	
 }
 .popSalesItemContainer{
 	margin:0px;
 	padding:10px;
 }
 .sicCol1{
 	margin:0px;
 	padding:0px;
 	float:left;
 	width:200px;
 }
 .sicCol1 img{
 	max-height:250px;
 }
 .sicPrice{
 	margin-top:10px;
 	color:white;
 	font-size:24px;
 	font-weight:400;
 }
 .sicItemDescription{
 	width:100px;
 	padding:10px;
 	margin:auto;
 	font-size:12px;
 	font-weight:100;
 	text-align:left;
 }
 .sicLabel{
 	float:left;
 	color:white;
 	display:inline;
 	margin:0px;
 	padding:0px;
 	width:auto;
 }
 .sicQuantity{
 	display:inline;
 	float:right;
 	max-width:40px!important;
 }
 .sicAddToCart{
 	margin-top:100px!important;
 }
 
 /* end sales item */
 
/* ************ Workshop page *************** */

.Groundhogs{
	margin: 30px;
    border: 1px solid #ccc;
    max-width:100%;
    display: block;
    margin:10px;
    
}

.Groundhogs img{
	width: 50%;
    height: 50%;
}



.AboutWorkshops{
	padding: 10px;
	  width:100%!important;
    padding-left:50px;
    padding-right:50px;
    margin: auto;
    background:white!important;
}

.Event{
	height: 200px;
	border: 2px solid #ccc;
	background-color: azure;
}

 
/*Cart area */
.CartWrapper{
	margin:0px 0px 0px auto;
	padding:5px;
	position:fixed;
    display:block;
    background-color:rgb(33,33,36);/*rgba(0,0,0,0.95);/**/
	min-width:400px;
	max-width:400px;
	min-height:100%;
	max-height:100%;
	z-index:1000;
	right:0;
	transition: all 0.35s ease;
	display:none;
}

#cartMenu:hover{
	background-image: url(../images/icons/cartHover.png);
}

#ItemCount{
	font-size: 16px;
	font-weight:400;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;	
	display:block;
	cursor:pointer;
	margin-top:0px;
}
 
 
 
 
 
 /* styling for workshop form */
 .popUpWorkshopForm{
 	max-width:390px!important;
 	max-height:400px!important;
 }
 .error{
 	border:0.5px solid rgba(255,0,0,0.8);
	box-shadow: 0 0 10px  rgba(255,0,0,0.8);
   
 }
 

 /*CartItems
 */
 .CartItems, .cartItemRow{
 	display:block!important;

 }
 .cartItemRow{
 	margin-top:10px!important;
 	padding:5px!important;
 }
 .cartItemCol1{
 	display:inline-block!important;
 	float:left;
 }
 .cartItemCol2{
 	display:inline;
 	float:left;
 	margin-left:10px;
 }
 /* Rating styles*/
 
 .cartItemRating img{
 	width:75px!important;
 	height:15px!important;
 	margin-right:5px;
 }
 .cartItemRating{
 	color:rgb(242,167,59)!important;
 }
 .cartItemImage img{
 	width:100px!important;
 	height: auto!important;
 	
 }
 
 .cartItemName{
 	color:#77CF7D!important;
 	font-size:20px;
 	font-weight:600;
 }
 
 
 
 .cartItemCol2{
 	color:#77CF7D!important;
 }
 
 .cartItemCol2 div span{
 	float:left;
 }
 
 .cartItemUnitPrice, .cartItemCount, .cartItemTotal{
 	display:block;
 	float:right!important;
 }
 
 .cartOrderSummaryH3{
 	font-size: 18px;
	font-weight:600;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;
 }
 .orderSummaryRow,.itemRow{
 	color:rgb(238,238,238)!important;
 	font-size: 15px;
	font-weight:200;
	text-decoration:none;
 }
 
 .orderTotalRow{
 	font-size: 16px;
	font-weight:200;
	text-decoration:none;
	color:#8ab4f8;
	letter-spacing:1px;
 }
 

 .cartProductImage img{
 	height:150px!important;
 	width:auto;
 }
 
 .cartItemTotal, .cartItemName{
 	color:rgb(238,238,238)!important;
 	font-size: 15px;
	font-weight:300;
	text-decoration:none;
 }
 
 .rightAlign{
 	text-align:right!important;
 }
 .leftAlign{
 	text-align:left!important;
 }
 .cartItemsWrapper{
 	width:90%;
 	margin:0px auto 0px auto;;
 	max-height: 320px!important;
  	overflow-x: hidden;
  	overflow-y: scroll;
  	border: 1px solid gray;/*#8ab4f8;*/
    padding:5px;
    border-radius: 5px;
 }
 
  .maxSize{
 	width:95%;
 	margin:0px auto 0px auto;;
 	max-height: 580px!important;
  	overflow-x: hidden;
  	overflow-y: scroll;
  	padding:15 5px 5px;
  	border:none!important;
    }
 .cartItems{
 	margin: 10px auto 0px auto;
 	width: 100%;
 	
 }
 .orderBoxWrapper{
 	width:90%;
 	height:auto;
 	margin:10px auto 0px auto;
 	max-height: 350px!important;
  	border: 1px solid gray;/*#8ab4f8;*/
    padding:5px 10px 0px 10px;
    border-radius: 5px;
 }
 .EmptyCartMessage{
 	height:400px!important;
 	margin-left:auto;
 	mergin-right:auto;
 	text-align:center;
 	vertical-align:middle;
 	
 	margin-top:100px;
 }
 .EmptyCartMessageH3{
 	font-size:24px;
 	font-weight:300;
 	color:#f2bb3c!important;
 	text-align:center;
 }
 
 .clickable{
 	padding-left:15px!important;
 	color:#f2bb3c!important;
 	text-decoration:none;
 	cursor:pointer;
 }
 .clickable:hover{
 	text-decoration:underline;
 
 }
 
 .unitCostPopUp{
 	font-size:20px;
 	font-weight:300;
 	
 }
 .descriptionRow{
 	font-size:14px;
 	line-height:16px!important;
 	text-align:justify!important;
 }
 .description{
 	color:#8ab4f8;
 	margin-right:15px;
 }
 
 .popUpProductImage{
 	width:10px;
 	height:auto;
 	padding:10px;
 }
 
 .popUpProdImg img{
 	width:30px!important;
 	height:30px!important;
 }
 
 .reviewArea{
 	width:100%!important;
 }
 #reviewsWrapper{
 	display:none;
 	min-height:200px;
 	max-height:100px!important;
 	overflow-x:hidden;
 	overflow-y:scroll;
 }
 .expandReview{
 	font-size:14px;
 	font-weight:300;
 	text-align:center!important;
 }

 .noReviews{
 	font-size:16px;
 	font-weight:100;
 	color: #ea6960!important;
 	text-align: center;
 	margin:100px auto auto 100px!important;
 	width:100%;
 }
 
 .sorryMsg{
 	padding:100px auto auto 100px!important;
 	font-size:16px;
 	font-weight:100;
 	color: #ea6960!important;
 	text-align: center;
 }
 
 .reviewerName{
 	font-size: 16px;
	font-weight:300;
	text-decoration:none;
	color:#8ab4f8;
	width:auto!important;
	text-align:left;
 }
 .reviewMsg{
 	color:rgb(238,238,238)!important;
 	font-size:14px;
 	line-height:16px!important;
 	text-align:justify!important;
 }
 
 tr.bottomBorder td {
  border-bottom: .5px solid gray!important;
}

.ContactFooterPanel h3, .ContactFooterPanel p{
	max-width:200px!important;
	margin:0px!important;
	padding:0px!important;
	text-align:left!important;
}
.MeetUsArea{
	width:83%;
	margin:auto;
	
}
#MeetUs{
	background:white!important;
	height:500px!important;
	box-sizing: border-box;
	
	
}
#MeetUsGrid {
	grid-column-gap: 20px;
	display: grid;
	height: auto!important;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	border: 1px solid gray!important;/*#8ab4f8;*/
    padding:15px!important;
    
	padding-left:60px!important;
    margin:0px!important;
   /* border-radius: 5px!important;
  */
  	

	
}

#MeetUsGrid h3{
	color: black;/*#666;*/
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:left;
}
#MeetUsGrid p{
	color: black!important;/*#ccc!important;*/
	font-size:16px;
	font-weight:200;
	line-height:20px;
	letter-spacing:1px;
	text-align:left;
}
.fixedWidth{
	max-width:250px;
}
.floatLeft{
	float:left!important;
}

#GoogleMap{
	overflow:hidden;
	width:480px!important;
	height:200px!important;
	frameborder="1";
}

/* all about buttons here */

.magButtonWrapper{
	width:300px!important;
	height:80px!important;
	vertical-align:middle!important;
	text-align:center!important;;
	overflow:hidden;
	margin:auto!important;
	 outline: none;
	
}
.magButton{
	background-color:transparent;
	border-color:white;
	transition: all 0.35s ease;
	width: 150px;
	padding:10px 5px 10px 5px;
	text-decoration: none;
	cursor: pointer;
	border:1px solid rgb(0,255,0);
	color:rgba(0,0,0,0.8);
	font-size: 15px;
	font-weight: 800;
	font-family: open-sans, sans-serif!important;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	text-align:center!important;
	border-radius: 30px;
	background-color: rgba(0,255,0,0.7);
	 outline: none;
	
	
}
.magButton:hover{
	background-color: rgba(0,255,0,1);
	color:black;
	transform: scale(1.15);
}

.magButton a{
	text-decoration:none;
	color:rgba(0,0,0,0.8);
	font-size: 15px;
	font-weight: 800;
	font-family: open-sans, sans-serif!important;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	text-align:center!important;
}
.magButton a:hover{
	text-decoration:none;
	color:black;
	font-size: 15px;
	font-weight: 800;
	font-family: open-sans, sans-serif!important;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	text-align:center!important;
}

/* standard button for the website */

.sButton input{
	
	border:1px solid rgba(255,255,255,0.3);/**/
	border-radius: 5px;
 	border-radius: 30px;
	background-color: rgba(92,144,242,0.7);
	
	width:auto!important;
	min-width:100px;
 	margin:40px auto auto 0px!important;
 	padding:10px 5px 10px 5px;
	
	color:rgba(0,0,0,0.8);
	
	
	transition: all 0.35s ease;
	text-decoration: none;
	cursor: pointer;
	
 	height:35px!important;
 	display:inline!important;
 	float:left!important;
 	cursor:pointer;
 	
 	font-size:16px;
 	font-weight:400;
 	font-family: open-sans, sans-serif!important;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	text-align:center!important;
	color:white;
 	
 }
 .sButton input:hover,.sButton select:hover{
 	background-color: rgba(92,144,242,1);/*background:#8ab4f8;*/
 } 
 
 /* color for the input buttons*/
/* by default yellow color */
 .tButton{
 	width:auto;
 	left:0;
 	top:0;
 	cursor:pointer;
 	background: #f2bb3c!important;
 	border-radius: 5px;
 	border-width:1px;
 	border:none;
 	vertical-align:middle;
 	height:30px!important;
 	color:#111;
 	line-height:19px;
 	font-size:14px;
 	font-weight:400;
 	text-decoration:none;
 	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align:center!important;
 }
 .tButton:hover{
  	background:#f9b109!important;
  	box-shadow:0px 5px 15px rgba(145,92,182,.4);
  	
 }
 
 .colorRed{
 	color: #ea6960!important;
 	background: transparent!important;
 	border: 1px solid #ea6960;
 }

 .colorRed:hover{
 	background:#D04422!important;
 	color:white!important;
 }
 .showHide{
 	width:110%!important;
 	height:20px!important;
 	vertical-align:middle;
 	text-align:center;
 	margin-bottom:0px;
 	margin-left:-8px;
 	background:rgba(255,255,255,0.2)!important;
 	display:none;
 }
 
 .tButton a{
 	text-decoration:none;
 	padding:10px;
 	height:20px;
 	display:block;
 	color:inherit!important;
 	margin-top:-5px;
 }
 .tButton a:hover{
 	text-decoration:none;
 	color:inherit!important;
 }
 
 .clickable{

 	max-height:15px!important;
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 }
 
 /*drop down add to cart*/
 .ddBoxQty{
 	background:#4279d6;
 	width:50px!important;
 	height:30px!important;
 	float:right!important;
 	color:white!important;
 	border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
 	
 }
 .ddBoxQty:hover{
 	background:#067eff;
 }
 .twoInputButtonsWrapper{
 	width:100%;
 	padding-left:130px;
 }
 .twoInputButtonsWrapper input{
 	margin-top:10px;
 	min-width:100px;
 }
 
 
 /* adjustments */
 .paddingTop{
 	padding-top:40px;
 } 
 
 .disableTextSelection{
	 -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
 }
 
 
 /* Check out area*/
 .popUpCheckout{
 	margin-top:1%;
 	min-width:95%;
 	max-width:85%;
 	height:auto;
 }

 #popUpCheckoutArea {
 	max-height:680px!important;
 	min-width:100%!important;
 	overflow-x:hidden;
 	overflow-y:scroll!important;
}
#sectionShipping, #sectionBilling{
	padding-top:50px!important;
}

#sectionShipping input, #sectionBilling input{
	margin-top:8px!important;
	margin-bottom:8px!important;
}
.line{
	width:80%;
	margin:10px auto 10px auto;
	border-bottom:1px solid gray;
}

#shippingInfo, #paymentInfo, #cartInfo{
	margin:25px 10px 10px 10px;
	min-width:380px!important;
	max-width:380px!important;
	min-height:630px!important;
	max-height:630px!important;
	
	color: #ea6960!important;
 	float:left;
 	border: 1px solid gray;
    border-radius: 5px;
    background-color:rgb(33,33,36)!important;;
    max-weidth:300px!important;
    z-index:3!important;
}

.city{
	width:115px!important;
	margin-right:2px!important;
}
.state{
	width:130px!important;
	margin-right:2px!important;
	display:inline!important;
	margin-top:0px!important;
}
.zip{
	width:70px!important;
}
.month,.expyear{
	width:110px!important;
	display:inline!important;
	margin-right:10px!important;
}

#csv{
	width:40px!important;
	margin-left:45px!important;
	color:black!important;
}
.adjustMarginTopCheckoutSelect{
	margin-top:-50px!important;
}


#cartInfo{
	margin-top:20px!important;
}

.checkoutMyCart .orderSummaryRow{
	
}
.itemRow2{
	width:100px;
	overflow:hidden;
}

.checkoutInlineGroup{
	display:block!important;
	
}
.checkoutInlineGroup label{
	color:#8ab4f8!important;
	
}
.adjustCheckbox{
	cursor:pointer!important;	
	margin-left:-100px!important;
}

/* style for drop down */


.navbar {
	overflow: hidden;
    width:100%;
    background-color:rgb(33,33,36);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    height:100%!important;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;/* */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ----------------------------- Shopping Page ------------------------------------ */
.ShopArea{
	background:rgb(247,247,247)!important;
	height:100%!important;
	margin-left:auto;
	margin-right:auto;
}
.salesItemShop{
	min-width:300px;
	max-width:300px;
	max-height:400px;
	min-height:400px;
	float:left;
	margin:15px;
	padding:10px;
	background:white!important;
	box-sizing: border-box;
	background-color: #eed;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition:.5s ease;
    
}
.salesImage img{
	background:#FFFFFF;
	width:150px!important;
	height:200px!important;
	margin-top:10px!important;
}

.salesName{
	min-height:40px;
	max-height:40px;
}
.salesPrice{
	
}
.cartItemRating{
	bottom:0;
}

/* hover sales product */
.salesItemShop{
	
}

.viewProduct{
	opacity:0;
	top:50%;
	left:50%;
}
.salesItemShop:hover .viewProduct{
	opacity:1;
	z-index:0;
}

.viewProduct a{
	background:#f1f1f1;
	width:50px;
	padding:8px;
	border-radius:10px;
	cursor:pointer;
	z-index:1;
	
}

/* sales item texts */
.salesName h1{
	font-size:20px;
}
.salesPrice h2{
	font-size:18px;
}

/* uButton */
.uButton{
	background:transparent;
	width:120px!important;
	height:30px!important;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	padding-top:5px!important;
	padding-bottom:5px!important;
}
.uButton a{
	margin-top:5px!important;
	background:transparent;
	text-decoration:none;
	display:inline!important;
}
.uButton:hover a{
	background:transparent;

}

/* pop up product image */

.popUpProdImg img{
	width:300px!important;
	height:auto!important;
	background:transparent!important;
	
}

.minWidth td{
	min-width:470px!important;
	padding:none;
}


 .greenGlow{
 	color: rgba(0,255,0,.8);!important;
 	background:rgba(0,255,0,.1)!important;
 	/*background: transparent!important;
 	*/border: 1px solid rgba(0,255,0,.5);
 	text-decoration:none!important;
 }
 .greenGlow:hover{
 	background:rgba(0,255,0,.5)!important;
 	color:white!important;
 	text-decoration:none!important;
 }
 
 .redGlow{
 	color: rgba(255,0,0,.8);!important;
 	background:rgba(255,0,0,.1)!important;
 	/*background: transparent!important;
 	*/border: 1px solid rgba(255,0,0,.5);
 	text-decoration:none!important;
 }
 .redGlow:hover{
 	background:rgba(255,0,0,.5)!important;
 	color:white!important;
 	text-decoration:none!important;
 }
 
 .yellowGlow{
 	color: rgba(255,255,0,.8);!important;
 	background:rgba(255,255,0,.1)!important;
 	/*background: transparent!important;
 	*/border: 1px solid yellow;
 	text-decoration:none!important;
 }
 .yellowGlow:hover{
 	background:rgba(255,255,0,.7)!important;
 	color:white!important;
 	text-decoration:none!important;
 }
 .btnMiddle{
 	float:left;
 	
 	
 }
 
 .popUpShippingConfirmation{
 	margin-top:1%!important;
 	min-width:700px!important;
 	max-width:700px!important;
 	background:white!important;
 	color:black!imoportant;
 	
 }
 
 
.popUpShippingConfirmation .crossButton {
    z-index: 0;
    cursor: pointer;
    height: 45px;
    width:45px;
    position: relative;
    background-size: 20px;
    background-position: center;
    background-image: url(../images/icons/CloseWhite.png);
    background-repeat: no-repeat;
    margin-right:-50px!important;
    margin-top:-20px!important;
}
 
 
 
 .popUpShippingConfirmation h3{
 	color:black!important;
 	border-bottom: 1px solid black!important;
 }
 
 /*Order Confirmation*/
 #confirmLetterBody *{
 	color:black!important;
 }
 #confirmLetterBody{
 	width:100%!important;
 	min-width:595px!important;
 	max-width:595px!important;
 	height:100%!important;
 	overflow-x:hidden;
 	margin-left:auto!important;
 	margin-right:auto!important;
 	padding:20px!important;
 }
 

 #rightAlignTextBox{
 	float:right!important;
 	display:inline-block!important;
 	text-align:right!important;
 	font-size:16px!important;
 	line-height:20px!important;
 	width:100%!important;
 	height:auto!important;
 	margin-bottom:40px!important;
 }
 #rightAlignTextBox p, #leftAlignTextBox p, #leftAlignTextInfo p{
 	margin-bottom: -12px!important;
 	min-width:100%!important;
 	
 }
 
 
 #leftAlignText h2{
 	font-size:20px!important;
 	width:100%!important;
 	line-height:10px!important;
 	margin-bottom:10px!important;
 	text-align:left!important;
 }
 
  #leftAlignTextBox{
 	float:left!important;
 	display:block!important;
 	text-align:left!important;
 	font-size:16px!important;
 	line-height:20px!important;
 	width:100%!important;
 	margin-bottom:40px!important;
 }
 
 #leftAlignTextInfo{
 	text-align:left!important;
 	margin-bottom:40px!important;
 	height:150px!important;
 	width:100%;
 	display:block;
 }
 
 #leftAlignText{
 	width:100%!important;
 	display:block!important;
 }
 
  .textRow{
 	width:100%!important;
 	min-width:100%!important;
 	height:auto!important;
 	display:block!important;
 	text-align:left!important;
 }
 
 #confirmLetterBody table {
 	width:100%!important;
 	border-collapse: collapse!important;
 	margin:0px;
 	margin-left:auto;
 	margin-right:auto;
 	border-collapse: collapse;
 }
 
 .subTotalRow,.taxRow,.totalRow{
 	border-left:none;
 	border-right:none;
 	border-bottom:none;
 	border-top:none;
 }
 
 #confirmTable tr td{
 	padding:5px!important;
 }
 
 .lineRow td{
 	min-width:50px!important;
 	line-height:50px!important;
 	padding:10px!important;
 	border-color:white!important;
 	border-bottom:5px solid black!important;
 }
 
 .rightPadding td{
 	text-align:right!important;
 }
 
 .subTotalRow, .taxRow, .totalRow{
 	border-color:white!important;
 }
 .subTotalRow td,.taxRow td,.totalRow td{
 	border:0px solid white !important;
 	padding:5px!important;
 }
 
 .total{
 	font-size:20px;
 }

 
 #leftAlignTextInfo{
 	margin-bottom:50px!important;
 }
 
 #confirmTable tr td,  #confirmTable tr, #confirmTable th{
 	border: 1px solid black;
 	border-collapse: collapse;
 	margin:0px;
 }

 /*Shopping filters */

 #amount{
 	background:transparent!important;
 	border:0;
 }
 
 /* product magnification */
 .parentHover .childMag{
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
 }
 .parentHover:hover .childMag {
 	 overflow:hidden;
 	 transform: scale(1.20);
}

.parentHover .childMagCart{
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
 }
 
.parentHover:hover .childMagCart {
 	 overflow:hidden;
 	 transform: scale(1.05);
 	 
}

.back{
	z-index:-1!important;
}
.front{
	z-index:10!important;
}

.checkoutLeft{
	text-align:left!important;
	float:left!important;
}
.cartItemNameCheckout{
	font-size:20px!important;
}


#filterTable{
	min-width:95%!important;
	max-width:95%!important;
	margin:0px!important;
}

#maxPrice, #minPrice{
	background:transparent;
	color:black;
	border:none;
	width:90px!important;
}
#slider-range{
	width:80%!important;
	margin:auto!important;
}
#maxPrice{
	margin-left:20%!important;
}


.secondHeader{
	width:100%!important;;
	height:auto;
	text-align:center;
	float:none;
	margin-left:auto;
	margin-right:auto;
}


.filterTableAttributes{
	max-width:400px!important;
	min-width:400px!important;
	padding:5px!important;
 	background:white!important;
 	background-color:rgb(255,255,255)!important;
	border-radius:6px;
	border: 1px solid gray;
 	box-shadow: 0 0 20px rgba(0,0,0,0.8); 	
 	width:100%!important;
 	margin:10px auto 10px auto;
}


.filterButton{
	cursor:pointer;
 	background: #f2bb3c!important;
 	border-radius: 5px;
 	border-width:1px;
 	border:none;
 	color:#111;
 }
 .filterButton:hover{
 	background:#f9b109!important;
 	text-decoration:none!important;
 	
 }
 
 
 .ui-slider .ui-slider-handle{
 	z-index:0!important;
 }
 
 .ui-slider .ui-slider-range{
 	z-index:-1!important;
 }
 
 
 .errorMsgDisplayArea{
 	min-width:80%;
 	max-width:80%;
 	height:80px;
 	margin:50px auto;
 	color: rgba(255,0,0,.8);!important;
 	background:rgba(233,188,85,.1)!important;
 	border: 1px solid rgba(233,188,85,.5);
 	text-decoration:none!important;
 	border-radius:5px;
 	vertical-align:middle!important;
 	
 }
 
 .errorMsgDisplayArea p{
 	 color:rgb(233,188,85)!important;
 	padding:5px!important;
 	font:20px!important;
 	fnot-weight:300;
 	letter-spacing:1px;
 	vertical-align:middle!important;
 }
 
 .shopAllMiddle{
 	width:100%;
 	margin:0px auto;
 	padding:10px;
 }
 
 /* adjustments */
 .adjustWidthPWFemail{
 	width:342px!important;
 }
 
 .adjustRightMarginPWFbtn{
 	margin-right:32px;
 }
 
 .adjustInputFieldCSForm{
  width:334px!important;
 }
 
 .adjustCartItems{
 	margin-top:40px!important;
 	min-height:380!important;
 	max-height:380px!important;
 
 }
 
 .imgCartAdjust{
 	max-width:100px!important;
 	height:auto;
 }

.checkoutImg {
	
	max-height:10px!important;
}
 
 /* workhsop page*/
 
 
 .rowAdjust{
 	width:250%!important;
 	margin-left:auto;
 	margin-right:auto;
 }
 
 .btnWorkshop{
 	width:100px!important;
 	margin-left:150px!important;
 	margin-top:50px!important;
 }
 
 .whiteTextInside{
 	color:white!important;
 }
 
 .whAdjustImg{
 	max-height:300px;
 
 }
 
 .whAdjustImg img{
 	max-height:250px!important;
 }
 
 .logo{
 	width:200px;
 	max-height:62px!important;
 }
 .logo img{
 	width:90%;
 	height:auto;
 	margin-top:-20px!important;
 	padding-bottom:-15px;
 }
 
 
 #cartMenu{
	margin-right:60px!important;
	float:right!important;
    cursor: pointer;
    position: relative;
    background-size: 40px;
    width:100px;
    height:62px;
    padding-top:-100px!important;
    padding-bottom:-50px!important;
    background-position: center;
    background-image: url(../images/icons/cart.png);
    background-repeat: no-repeat;	
}

.boxShadowEverywhere{
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}


#FAQ{
	margin-top:20px!important;
	padding-top:500px!important;
	background:rgb(247,247,247)!important;	
	height:1200px!important;
}
.Footer{
	
	background:rgb(247,247,247)!important;	
}
.paraDiv{
	width:80%!important;
	margin:50px auto;
}
.paraDiv h5{
	color: rgba(54, 54, 54,.8) ;
	display: block;
	font: 400 24px Helvetica, Arial, sans-serif;
	font-weight:600;
	letter-spacing: normal ;
	line-height: 34px ;
	text-size-adjust: 100%;
}
.bgWhite{
	    background:white!important;
}
.adjustMoveUp{
	margin-top:-30px!important;
}
.adjustMoveUpAbtUsPage{
	margin-top:-10px!important;
	margin-right:-10px!important;
	
}
.abtUsHeightAdjust{
	height:430px!important;
}
.adjustHeightAbtUsMedia{
	height:550px!important;
}
.adjustwidthGI{
	margin-left:150px!important;
}
.adjustwidthGINext{
	margin-left:170px!important;
}
.adjustParaSizeAboutUs{
	width:560px!important;
}